<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../block/head %>
            <link rel="stylesheet" type="text/css" href="/cdn3.devexpress.com/jslib/20.2.5/css/dx.common.css" />
            <link rel="stylesheet" type="text/css" href="/cdn3.devexpress.com/jslib/20.2.5/css/dx.light.css" />
            <link rel="stylesheet" type="text/css" href="/css/admin/RolePermission.css" />
</head>
<!-- <body class="dx-viewport"> -->

<body class="nav-md footer_fixed">

    <div class="container body">
        <div class="main_container">
            <% include ../block/leftpanelV2 %>
                <% include ../block/toppanelV2 %>

                    <form role="form" id="formRule">
                        <!-- page content -->
                        <div class="right_col " role="main" style="min-height: 100vh">
                            <div class="page-title">
                                <div class="title_left">
                                    <h3> <small><strong></strong></small></h3>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Role Choice</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-2 col-sm-2 ">

                                                <select class="form-control" id="selectRoleId">
                                                    <option value="none"> </option>
                                                    <% if( arrListUserGroup ){ %>
                                                        <% for ( var i=0 ; i < arrListUserGroup.length ; i ++) { %>
                                                            <option value="<%-arrListUserGroup[i].GroupUserCode %>"><%=arrListUserGroup[i].GroupUserDescription %></option>
                                                            <% } %>
                                                                <% } %>
                                                </select>
                                            </div>
                                            <button type="button" class="btn btn-success" value="" id="btnNewRole"> New Role</button>
                                            <button type="button" class="btn btn-info" value="" id="btnEditRole">Edit Role</button>
                                            <button type="submit" name="bsubmit" value="submitDeleteRole" class="btn btn-danger" id="btnDeleteRole">Delete Role</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Rule in Role</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content" id="xcontentid">
                                            <div id="GridRuleInRole"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Rule List</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content" id="xcontentid">
                                            <div id="GridRuleList"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>User In Role</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content" id="xcontentid">
                                            <div id="GridUserInRole"></div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>User List</h2>
                                            <ul class="nav navbar-right panel_toolbox">
                                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a> </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                        </div>

                                        <div class="x_content" id="xcontentid">
                                            <div id="GridUserList"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="modalAddUpdate" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Update Role</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="form-group">
                                                <label for="txtRoleCode">Role Code</label>
                                                <input type="text" class="form-control" name="txtRoleCode" id="txtRoleCode">
                                                <!-- <input type="hidden" id="hidID" value="0" /> -->
                                            </div>
                                            <div class="form-group">
                                                <label for="txtRoleName">Role Name</label>
                                                <input type="text" class="form-control" name="txtRoleName" id="txtRoleName">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" name="submitInsert" value="submitInsert" class="btn btn-primary" id="btnSave">Save</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal -->
                        </div>
                        <!-- /page content -->

                        <!-- footer content -->
                        <footer>
                            
                            <!-- <div class="nav_menu">
                                <nav class="nav navbar-nav">
                                    <ul class=" navbar-right">
                                        <li style="padding-right: 15px; float: right; margin-top: 20px;">
                                            <button type="submit" class="btn btn-success" value="submitMoveInside" id="btnMoveInside"> Move Inside</button>
                                            <button type="submit" class="btn btn-info" value="submitMoveOutSide" id="btnMoveOutSide">Move Outside</button>
                                            <button type="submit" name="bsubmit" value="submitDelete" class="btn btn-danger" id="btnDeleteId">Delete</button> -->
                                            <!-- <button type="submit" name="bsubmit" value="submitSave" class="btn btn-primary" id="btnSaveId">Save</button>
                                        <button type="button" onclick="cancelUser()" name="bsubmit" value="submitCancel" class="btn btn-secondary" id="btnCancelId">Cancel</button> -->
                                        <!-- </li>
                                    </ul>
                                </nav>
                            </div> -->
                        </footer>
                        <!-- /footer content -->
        </div>
    </div>
    <% include ../block/script %>
    <!-- <script>
        window.jQuery || document.write(decodeURIComponent('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))
    </script>
       <script src="/cdn3.devexpress.com/jslib/20.2.5/js/dx.all.js"></script>
       <script src="/unpkg.com/devextreme-aspnet-data@2.7.1/js/dx.aspnet.data.js"></script> -->
       <script src="/javascripts/admin/RolePermissionjs.js"></script>
    </form>
</body>


</html>