<div  id="left_col" class="col-md-3 left_col menu_fixed mCustomScrollbar _mCS_1 mCS-autoHide" style="overflow: visible;">
    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal mCSB_vertical mCSB_outside" style="max-height: none;" tabindex="0">
        <div id="mCSB_1_container" class="mCSB_container" style="position: relative; top: -20px;margin-top: 60px;" dir="ltr">
            <div class="left_col scroll-view">
                <!-- <div class="navbar nav_title" style="border: 0;">
                    <a href="/home" class="site_title"><i class="fa fa-home"></i> <span>Việt Nam Wacoal</span></a>
                </div> -->

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <!-- <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="/images/user.png" alt="..." class="img-circle profile_img mCS_img_loaded">
                    </div>
                    <div class="profile_info">
                        <span>Xin chào</span>
                        <h2><%=userId%></h2>
                    </div>
                </div> -->
                <!-- /menu profile quick info -->

                <br>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section active" id="menu_section"></div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Đổi Mật Khẩu" href="/changepassword">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <form id="form1" action="/logout" method="POST"> 
                        <a data-toggle="tooltip" data-placement="top" title="" href="javascript:;" onclick="logout()" data-original-title="Đãng Xuất">
                          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                        <script>
                            function logout(){
                                localStorage.clear();
                                document.getElementById('form1').submit();  
                            }
                        </script>
                    </form>
                </div>
                <!-- /menu footer buttons -->
            </div>
        </div>
    </div>
    <!-- <div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal mCSB_scrollTools_vertical" style="display: block;">
        <div class="mCSB_draggerContainer">
            <div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 872px; top: 326px; display: block; max-height: 903px;" oncontextmenu="return false;">
                <div class="mCSB_dragger_bar" style="line-height: 50px;"></div>
            </div>
            <div class="mCSB_draggerRail"></div>
        </div>
    </div> -->
</div>