.loader{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;


}

.loader img{
  width: 100px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100%{
      opacity: 0;
      visibility: hidden;
  }
  
}

.main_container.hidden{
  display: none;
}

.main_container .top_nav {
  margin-left: 0px;
}

.mCSB_container{
  top: -100px
}

.sidebar-footer {
  width: 300px;
}
.nav-sm .container.body .col-md-3.left_col{
  width: 0px;
}

.nav-sm .container.body .col-md-3.left_col .main_menu_side{
  display: none
}
/* .main_menu_side{
  visibility: hidden;
} */

.nav-sm .container.body .right_col{
  margin-left:0px
}

.nav-sm .main_container .top_nav{
  margin-left:0px
}


.nav-md .container.body .col-md-3.left_col {
  width: 300px;
}


.nav-md .container.body .right_col {
  padding: 10px 20px 0;
  margin-left: 300px;
}




.nav_title {
  width: 230px;
  height: 97px;  
}

.nav li li  .current-page a {
  color: #d42424;
}

.nav li li.current-page a:hover {
  color: #d42424;
}

/* .nav.side-menu>li.active>a {
  text-shadow: rgb(0 0 0 / 25%) 0 -1px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#334556), to(#2C4257)),#2A3F54;
  background: linear-gradient(#334556, #5089bf),#2A3F54;
  -webkit-box-shadow: rgb(0 0 0 / 25%) 0 1px 0, inset rgb(255 255 255 / 16%) 0 1px 0;
  box-shadow: rgb(0 0 0 / 25%) 0 1px 0, inset rgb(255 255 255 / 16%) 0 1px 0;
} */

.nav.child_menu>li>a {
  color: rgba(255,255,255,0.75);
  font-size: 12px;
  padding: 5px;
}

 .top_nav .liQRCode a i {
   font-size: 35px;
   padding-left: .5rem;
 }

 /* .nav.child_menu li.active a{
  text-shadow: rgb(0 0 0 / 25%) 0 -1px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#334556), to(#2C4257)),#2A3F54;
  background: linear-gradient(#334556, #5089bf),#2A3F54;
  -webkit-box-shadow: rgb(0 0 0 / 25%) 0 1px 0, inset rgb(255 255 255 / 16%) 0 1px 0;
  box-shadow: rgb(0 0 0 / 25%) 0 1px 0, inset rgb(255 255 255 / 16%) 0 1px 0;
  background-color: rgba(255,255,255,0.06);
}

nav.child_menu li.active ul a{
  background-color: rgba(255,255,255,0.06);
} */
/* element.style {
  min-height: 100vh;
} */



.toggle {
  /* margin-top: 10px; */
  float: left;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.toggle-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.toggle-right{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggle img{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  /* padding: 15px 15px 0; */
}

@media (max-width: 1200px){.toggle{width:25%;}.sidebar-footer{width:25%;}}
@media (max-width: 765px){.toggle{width:300px;}.sidebar-footer{width:300px;}}