<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/video/videohome.css">
    <!-- <link rel="stylesheet" href="/css/video/userdropdown.css"> -->
    <link rel="stylesheet" href="/css/video/dropdownmenu.css">

</head>
<body>
    <header class="header">
        <a href="/">
            <img src="/images/Wacoal_images.png" alt="Wacoal Logo" class="wacoal-logo">
        </a>
        <!-- <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search" aria-label="Search" id="txtSearch">
            <button type="button"  class="search-btn" id="btnSearch">
                <i class="fas fa-search"></i>
            </button>
        </div> -->
        <div class="menu-icons" id="menuIconsId">
            <!-- <a href="#">
                <i class="fa fa-upload"></i>
            </a> -->
            <ul class="menu">
                <li class="has-submenu">
                    <i class="fa fa-upload"></i>
                    <ul class="submenu">
                        <li>
                            <button>Video</button>
                        </li>
                        <li>
                            <button>PDF</button>
                        </li>
                    </ul>
        
                </li>
                <li class="has-submenu">
                    About
                    <ul class="submenu">
                        <li>Company</li>
                        <li>Team</li>
                    </ul>
        
                </li>
                <li>Contact</li>
                <li class="has-submenu">
                    <img src="/images/Wacoal_images.png" alt="Wacoal Logo" class="wacoal-logo">
                    <ul class="submenu">
                        <li>
                            <i class="fas fa-sign-in-alt"></i>
                            <a href="/login">Đăng Nhập</a>
                        </li>
                        <li>Team</li>
                    </ul>
        
                </li>
            </ul>
        
            <!-- <a href="#">
                <i class="fas fa-table"></i>
            </a>
            <a href="#">
                <i class="fas fa-bell"></i>
            </a> -->
            <!-- <a href="#">
                <img class="menu-channel-icon" src="https://picsum.photos/36/36" alt="Your Chanel">
            </a> -->
         
          
        </div>

    </header>

    <div class="container">aaa

    </div>
 
   

<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<script src="/js/use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="/javascripts/video/videohome.js"></script>
</body>
</html>