<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/video/videosearch.css">
    <link rel="stylesheet" href="/css/video/dropdownmenu.css">
</head>
<body>
    <% include ./videoheader %>

    <div class="videos">
        <section class="video-section" id="videoSection">
            <!-- <article class="video-container"> 
                <a href="#" class="thumbnail"
                data-duration="12:24">
                    <img class="thumbnail-image" src="https://picsum.photos/250/150" alt="" >
                </a>
                <div class="video-bottom-section">
                   
                    <div class="video-details">
                        <a href="#" class="video-title"> Video title nguyen thai hoa</a>
                        <a href="#" class="video-chanel-name">Chanel Name</a>
                        <div class="video-metadata">
                            <span>12K view</span>
                            .
                            <span>1 week ago</span>
                        </div>
                        <a href="#">
                            <img class="channel-icon" src="https://picsum.photos/36/36" alt="">
                        </a>
                    </div>
                </div>
            </article> -->
            
            

        </section>
     
    </div>
<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
 <!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="/javascripts/static/static.js"></script>
<script src="/javascripts/video/videohome.js"></script>  

<script src="/javascripts/video/videosearch.js"></script>      
</body>
</html>