<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/video/videohome.css">
    <!-- <link rel="stylesheet" href="/css/video/userdropdown.css"> -->
    <link rel="stylesheet" href="/css/video/dropdownmenu.css">
    <link rel="stylesheet" href="/css/video/videochannel.css">
   
      

</head>
<body>
    <% include ./videoheader %>
    <!-- <div class="banner">
        <img src="/images/Wacoal_images.png">
    </div> -->
    <div class="channel-container">
        <div class="channel-info" id="channelInfo">
            <!-- <img src="/images/user.png" alt="Wacoal Logo" class="wacoal-logo-channel">
            <p>Nguyễn Thái Hòa</p> -->
        </div>
        <div class="search-bar-channel">
            <button type="button" class="search-btn-channel" id="btnSearchChannel">
            <i class="fas fa-search"></i>
            </button>
            <input type="text" class="search-input-channel" placeholder="Search" aria-label="Search" id="txtSearchChannel">
         </div>
        
        
    </div>

    <!-- <div class="categories">
        <section class="category-section">
            <button class="category active">All</button>

        </section>
    </div> -->
    <div class="videos">
        <section class="video-section" id="videoSection"> 
        </section>
    </div>


<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
 <!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="/javascripts/video/videohome.js"></script>
<script src="/javascripts/video/videochannel.js"></script>   

</body>
</html>