<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/video/videohome.css">
    <!-- <link rel="stylesheet" href="/css/video/userdropdown.css"> -->
    <link rel="stylesheet" href="/css/video/dropdownmenu.css">
   
     

</head>
<body>
    <% include ./videoheader %>

    <!-- <div class="categories">
        <section class="category-section">
            <button class="category active">All</button>

        </section>
    </div> -->
    <div class="videos">
        <section class="video-section" id="videoSection"> 
        </section>
    </div>


<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
 <!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/use.fontawesome.com/releases/v5.15.4/js/all.js" data-auto-replace-svg="nest"></script>
<script src="/javascripts/video/videohome.js"></script>   

</body>
</html>