
<!DOCTYPE html>
<html lang="en">
<head>
   <% include ../block/head %>
</head>
<body class="nav-md footer_fixed">
    <div class="container body">
        <div class="main_container">
            <% include ../block/leftpanelV2 %>
            <% include ../block/toppanelV2 %>
            <!-- page content -->
            <div class="right_col " role="main" style="min-height: 100vh">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3> <small><strong></strong></small></h3>
                            
                        </div>
                    </div>
                </div>
                <!-- <embed src="/pdf/cat/LHKH_Cut_V5.pdf" width="100%" height="750"  type="application/pdf; min-height=100vh; width=100%"> -->
                    <iframe src="/pdf/SanXuat/XacNhanWideSCHE_DieuChinh.pdf" frameborder="0" width="100%" height="750px">  </iframe>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Wacoal - Bootstrap Admin Template by <a href="/home">Thai Hoa</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
  <% include ../block/script %>
  <!-- <script src="/javascripts/cat/CatLLKHCard.js"></script> -->
</body>
</html>