/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6990f2;


} */

.wrapper{
    width: 100%;
    /* padding: 30px 10px; */
    padding: 4rem 0.3rem;
    background: #fff;
    border-radius: 5px;
}
.wrapper header{
    color: #6990f2 ;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}
.wrapper form{
    height: 167px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #6990f2;
}

.wrapper form :where(i,p){
    color: #6990f2;
}

.wrapper form i{
    font-size: 50px;
}
.wrapper form p{
    font-size: 16px;
    margin-top: 15px;
}
section .row {
    background: #e9f0ff;
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 section .row i{
    font-size: 30px;
    color: #6990f2;
}

.process-area .row .content{
    width: 100%;
    margin-left: 15px;
}
.process-area .details{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    justify-content: space-between;
}
.process-area .process-bar{
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius: 30px;
}
.process-area .process-bar .progress{
    height: 100%;
    width: 50%;
    background: #6990f2;
    border-radius: inherit;
}

.uploaded-area{
    max-height: 300px;
    overflow: scroll;
}
.uploaded-area::-webkit-scrollbar{
    width: 0px;
}

.uploaded-area .row .content{
    display: flex;
    align-items: center;
}

.uploaded-area .row .details{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}
.uploaded-area .row .details .size{
    font-size: 11px;
    color: #404040;
}

.uploaded-area .fa-check{
    font-size: 16px;
    color: #6990f2;
}

